@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #1b3864;
  --natural-color: #04070d;
  --danger-color: #ea4435;
  --warning-color: #fbb000;
  --success-color: #299647;
  --ready-color: #4286f4;
  --default-color: #e6eaef;
}
.padding-section {
  @apply px-4 md:px-24 lg:px-32 xl:px-16;
}
.container-layer {
  @apply mx-auto my-auto w-full max-w-[1440px];
}
.flex-row-start {
  @apply flex items-start justify-start;
}
.flex-row-end {
  @apply flex items-end justify-end;
}
.flex-row-center {
  @apply flex items-center justify-center;
}
.flex-row-between-start {
  @apply flex items-start justify-between;
}
.flex-row-between-end {
  @apply flex items-end justify-between;
}
.flex-row-between-center {
  @apply flex items-center justify-between;
}
.flex-row-around-center {
  @apply flex items-center justify-around;
}
.flex-col-start {
  @apply flex flex-col items-start justify-start;
}
.flex-col-end {
  @apply flex flex-col items-end justify-end;
}
.flex-col-center {
  @apply flex flex-col items-center justify-center;
}
.flex-col-center-start {
  @apply flex flex-col items-start justify-center;
}
.flex-col-between-start {
  @apply flex flex-col items-start justify-between;
}
.flex-col-around-start {
  @apply flex flex-col items-start justify-around;
}
.flex-col-between-center {
  @apply flex flex-col items-center justify-between;
}
.bg-care-fade {
  background: radial-gradient(70.87% 56.61% at 50% 50%, rgba(81, 107, 148, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.bg-default-solution-card {
  background-color: #fff;
  color: #000;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.bg-hover-solution-card {
  background: linear-gradient(146.05deg, #1b3864 0%, #e6eaef 100%);
  color: #fff;
}
.border-card-aboutUs {
  border-right: 2px solid transparent;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #516b94, rgba(0, 0, 0, 0)) 1 100%;
}

@media (max-width: 745px) {
  .border-card-aboutUs {
    border: none;
  }
}
